<div class="ui vertical masthead center aligned segment">
  <div class="pusher">
    <div class="ui text container">
      <h1 class="ui header">
        CattleDog
      </h1>
    </div>
    <br /><br /><br />
    <%= link_to 'Login', home_login_path, class: "ui small green button" %>
    &nbsp;<strong>Or</strong>&nbsp;
    <%= link_to 'Signup', home_signup_path, class: "ui small blue button" %>
  </div>
</div>
