<div class="ui vertical masthead center aligned segment">
  <div class="pusher">
    <div class="ui text container">
      <h1 class="ui header">
        SportsBoss
      </h1>
      <h2>Sports Management Application</h2>
      <p>
        Blah blah blah
      </p>
    </div>
  </div>
</div>
